---
layout: home
---

<div class="pa3 pb5">
  <section class="mv3-ns">
    <div class="mw7 center">
      <h5 class="dn db-ns pa0 ma0 mb3 f4 o-90">Me</h5>

      <div class="flex-ns flex-row-ns shadow-4 br1 shadow-none-s">
        <img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-19/s150x150/13739536_1197373306964303_1288605301_a.jpg" class="dn db-ns br1 br--left" />
        <img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-19/s600x600/13739536_1197373306964303_1288605301_a.jpg" class="db dn-ns w-100 h-100" />

        <div class="ph0 pv4 ph4-ns pv0-ns flex flex-column justify-center items-center">
          <p class="pa0 ma0 f5 lh-copy">
            I am a software developer living in Chicago, Illinois. I have been writing web
            and mobile apps for the last <b class="b o-80">7 years</b>, primarily with
            <strong class="b o-80">Ruby</strong> and <strong class="b o-80">JavaScript</strong>. Lately, I have
            been working heavily with <strong class="b o-80">React</strong> and <strong class="b o-80">React Native</strong>.
            I also study computer science at DePaul University.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="mt5">
    <div class="mw7 center">
      <h5 class="pa0 ma0 mb3 f4 o-90">Work</h5>

      <div class="shadow-4 mw7 center br1">
        <div class="flex flex-row bb b--black-10 pv2 ph3">
          <div class="w-40">
            <p class="ma0 tl lh-solid small-caps f5">
              fam
            </p>
          </div>

          <div class="w-60">
            <p class="ma0 tr lh-solid small-caps f5">
              january 2015 &mdash; present
            </p>
          </div>
        </div>

        <div class="flex-ns flex-row-ns">
          <div class="medium-square">
            <div class="medium-square o-80 pa2">
              {% include logos/fam.svg %}
            </div>
          </div>

          <div class="ph3 pv4 ph4-ns pv0-ns flex flex-column justify-center items-center">
            <p class="pa0 ma0 f5 lh-copy">
              Build, deploy and maintain the web, API and mobile apps for <a href="https://getfam.com" class="blue">getfam.com</a>,
              an app enabling communities to buy, sell and trade millions of dollars of items with each other.
            </p>
          </div>
        </div>
      </div>

      <div class="mv4 shadow-4 mw7 center br1">
        <div class="flex flex-row bb b--black-10 pv2 ph3">
          <div class="w-40">
            <p class="ma0 tl lh-solid small-caps f5">
              groupon
            </p>
          </div>

          <div class="w-60">
            <p class="ma0 tr lh-solid small-caps f5">
              july 2011 &mdash; april 2014
            </p>
          </div>
        </div>

        <div class="flex-ns flex-row-ns">
          <div class="medium-square">
            <div class="medium-square pa2">
              <img src="/images/groupon.jpg" class="o-90 db br1 br--left" />
            </div>
          </div>

          <div class="nt4 mt0-ns ph3 pv4 ph4-ns pv0-ns flex flex-column justify-center items-center">
            <p class="pa0 ma0 f5 lh-copy">
              Software Engineer having contributed primarily to the main consumer-facing
              <a href="https://groupon.com" class="blue">groupon.com</a> experience. Also developed internal APIs for merchant applications.
            </p>
          </div>
        </div>
      </div>

      <div class="mv3">
        <p class="tc lh-copy">
          View my <a href="https://www.linkedin.com/in/bereinhart" class="blue">LinkedIn</a>
          or <a href="https://dl.dropboxusercontent.com/u/23776659/ben-reinhart-resume.pdf" class="blue">my resume</a> for more detailed work history.
        </p>
      </div>
    </div>
  </section>

  <section class="mt5">
    <div class="mw7 center">
      <h5 class="pa0 ma0 mb3 f4 o-90">Open Source Contributions</h5>

      <div class="w-100 flex flex-wrap-s flex-row items-center content-between">
        <a href="https://www.npmjs.com/~benjreinhart" title="Find me on NPM" class="grow no-underline black-70 db shadow-4 w-100 w-50-ns mb4 mr2-ns">
          <div class="flex justify-center items-center f1 pa4">
            <div class="large-square">
              {% include logos/npm.svg %}
            </div>
          </div>
          <p class="db bt b--black-10 ma0 pa2 lh-solid tc f5">
            <strong class="b o-80">benjreinhart</strong> on npm
          </p>
        </a>

        <a href="https://rubygems.org/profiles/benjreinhart" title="Find me on Rubygems" class="grow no-underline black-70 db shadow-4 w-100 w-50-ns mb4 ml2-ns">
          <div class="flex justify-center items-center f1 pa4">
            <div class="large-square">
              {% include logos/rubygems.svg %}
            </div>
          </div>

          <p class="db bt b--black-10 ma0 pa2 lh-solid tc f5">
            <strong class="b o-80">benjreinhart</strong> on rubygems
          </p>
        </a>
      </div>
    </div>
  </section>

  <section class="mt5">
    <div class="mw7 center">
      <h5 class="pa0 ma0 mb3 f4 o-90">Social</h5>

      <div class="flex-wrap flex flex-row items-center content-between">
        <a href="https://twitter.com/benjreinhart" title="@benjreinhart" class="no-underline black-70 grow db shadow-4 w-100 w-auto-ns mb2 mr2-ns grow-1 flex justify-center items-center f1 w6 h4">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/in/bereinhart" title="Ben Reinhart" class="no-underline black-70 grow db shadow-4 w-100 w-auto-ns mb2 mh2-ns grow-1 flex justify-center items-center f1 w6 h4">
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="https://github.com/benjreinhart" title="benjreinhart" class="no-underline black-70 grow db shadow-4 w-100 w-auto-ns mb2 mh2-ns grow-1 flex justify-center items-center f1 w6 h4">
          <i class="fa fa-github"></i>
        </a>

        <a href="mailto:benjreinhart@gmail.com" title="benjreinhart@gmail.com" class="no-underline black-70 grow db shadow-4 w-100 w-auto-ns mb2 ml2-ns grow-1 flex justify-center items-center f1 w6 h4">
          <i class="fa fa-envelope"></i>
        </a>
      </div>

    </div>
  </section>
</div>