<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>

  <meta name="description" content="Ben Reinhart's website">
  <meta name="author" content="Ben Reinhart">
  <meta name="keywords" content="ben reinhart, software developer">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta property="og:title" content="Ben Reinhart" />
  <meta property="og:description" content="Don't mean to brag, but I have a website" />
  <meta property="og:url" content="https://benreinhart.com" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
