body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #444;
  margin-bottom: 30px;
}

a, a:hover, a:visited, a:active {
  font-weight: 400;
  color: #3498db;
  text-decoration: none;
}

a:hover {
  transition: color .35s linear;
  color: #2980b9;
}

h1 {
  line-height: 1em;
  margin-left: 20px;
  font-size: 17em;
  font-weight: 900;
  margin-bottom: 0;
}

main, dl {
  margin: 25px 0 0 36px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
  word-spacing: .1em;
}

.large-screen {
  display: block;
}

.small-screen {
  display: none;
}

dl {
  margin-top: 35px;
}

dt, dd {
  padding: 5px 0 5px 0;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}


/**
 * Responsive
 */

@media all and (max-width: 400px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }

  h1, main, dl {
    margin-left: 0;
    width: 100%;
  }

  h1, main {
    text-align: center;
  }

  h1 {
    font-size: 13em;
  }

  dl {
    padding: 0 27px;
  }

  p, dl, dt {
    font-size: 0.9em;
  }

  dt {
    width: 80px;
  }
}
