---
import Layout from '../layouts/Home.astro';
import Link from '../components/link.astro';
---

<Layout>
  <main class="px-4 py-12 flex justify-center">
    <div class="prose">
      <h2><span class="mr-2" aria-hidden="true">👋</span> Hello, I'm Ben</h2>

      <p>
        I'm co-founder and CTO at <Link href="https://getmocha.com">Mocha</Link>, a YC-backed (S23)
        company. I was previously the first hire at <Link href="https://privy.io">Privy</Link>,
        working on authentication and end-to-end encryption APIs for data privacy. Before that, I
        was the tech lead for the data management platform at <Link href="https://getcruise.com"
          >Cruise</Link
        >, which hosts the data used to train and evaluate models that drive cars.
      </p>
      <p>
        I moved to the bay area when my first startup was bought by <Link
          href="https://nextdoor.com">Nextdoor</Link
        >.
      </p>

      <p>
        I love to hack on <Link href="/projects">projects</Link> and occasionally <Link href="/blog"
          >write</Link
        > about my learnings.
      </p>
    </div>
  </main>
</Layout>
