---
import Layout from '../layouts/Home.astro';
import Link from '../components/link.astro';
---

<Layout>
  <main class="px-4 py-12 flex justify-center">
    <div class="prose">
      <h2>Projects</h2>

      <dl class="space-y-5">
        <dt>
          <Link href="https://github.com/benjreinhart/server_sent_events">Server Sent Events</Link>
        </dt>
        <dd class="pb-6">
          Lightweight, ultra-fast Server Sent Event parser for Elixir. Supports streaming
          environments (e.g., LLM provider APIs).
        </dd>
        <dt>
          <Link href="https://github.com/privy-io/shamir-secret-sharing">Shamir Secret Sharing</Link
          >
        </dt>
        <dd class="pb-6">
          TypeScript implementation of <Link
            href="https://en.wikipedia.org/wiki/Shamir%27s_secret_sharing"
            >Shamir's Secret Sharing algorithm</Link
          >. This project underwent a <Link
            href="https://cure53.de/audit-report_privy-sss-library.pdf">formal audit</Link
          > by <Link href="https://cure53.de/">Cure53</Link>.
        </dd>
        <dt>
          <Link href="https://github.com/benjreinhart/secure-password-utilities"
            >Secure Password Utilities</Link
          >
        </dt>
        <dd class="pb-6">
          Utilities for generating secure passwords, passphrases, pins, and more. Part of a larger
          effort to create a password manager using github pages as a backend.
        </dd>
        <dt>
          <Link href="https://github.com/apache/superset">Apache Superset</Link>
        </dt>
        <dd class="pb-6">
          I was previously one of the contributors of the Apache Superset project. You can see those <Link
            href="https://github.com/apache/superset/pulls?q=author%3Abenjreinhart"
            >contributions here</Link
          >.
        </dd>
        <dt>
          <Link href="https://github.com/benjreinhart/rayven">Rayven</Link>
        </dt>
        <dd class="pb-6">
          Secure data sharing application. Useful for sharing sensitive values (api keys, passwords,
          etc) with coworkers. Excuse to push <Link
            href="https://github.com/phoenixframework/phoenix_live_view">LiveView</Link
          > to its limits.
        </dd>
        <dt>
          <Link href="https://github.com/benjreinhart/ex_kdl">ExKDL</Link>
        </dt>
        <dd class="pb-6">
          An implementation of the <Link href="https://kdl.dev">KDL Document Language</Link>. I used
          this as an excuse to play with two things I love, compilers and Elixir.
        </dd>
        <dt>
          <Link href="https://github.com/benjreinhart/react-native-aws3">React Native S3</Link>
        </dt>
        <dd class="pb-6">
          Upload objects to S3 in React Native without requiring any platform-native dependencies.
          My most popular OSS library.
        </dd>
      </dl>
    </div>
  </main>
</Layout>
