---
import { humanTime } from "../lib/utils";

interface Props {
  title: string;
  published: Date;
}

const { title, published } = Astro.props;

const dateISOString = published.toISOString();
const dateHumanString = humanTime(published);
---
<header class="flex flex-col">
  <h1 class="order-2 mb-4">{title}</h1>
  <div class="text-sm leading-6 order-1">
    <dl>
      <dt class="sr-only">Date</dt>
      <dd class="inset-x-0 pl-0">
        <time datetime={dateISOString}>{dateHumanString}</time>
      </dd>
    </dl>
  </div>
</header>
